<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Site.Title }} | {{ .Title }}</title>
        {{ $stylesheet := ("/css/style.css" | relURL) }}
        <link rel="stylesheet" href="{{ $stylesheet }}">
        {{ $favicon := ("/images/favicon.ico" | relURL) -}}
        {{ with .Site.Params.faviconVersion -}}
        {{ $favicon = printf "%s?v=%s" $favicon . -}}
        {{ end }}
        <link rel="shortcut icon" type="image/x-icon" href="{{ $favicon }}">
    </head>
    <body>
        <div class="wrapper">
            <header>
                <h1>{{ .Site.Title }}</h1>

                <!-- begin short bio -->
                <p>{{ .Site.Params.shortbio | safeHTML }}</p>
                <!-- end short bio -->

                {{/*
                <p class="contactinfo">
                <img src="{{ "/icons/mail-symbol.svg" | relURL }}" class="octicons">
                mailaddr@domain.edu
                </p>
                */}}

                <hr/>

                {{ partial "sidebar.html" . }} 

                <!-- begin photo -->
                {{ with .Site.Params.logo }}
                {{ $logoPath := . }}
                {{ if not (hasPrefix $logoPath "/") }}
                {{ $logoPath = printf "/%s" $logoPath }}
                {{ end }}
                {{ $logo := ($logoPath | relURL) }}
                {{ with $.Site.Params.logoVersion }}
                {{ $logo = printf "%s?v=%s" $logo . }}
                {{ end }}
                <img src="{{ $logo }}" alt="Professor Stefano DellaVigna smiling" />
                {{ end }}
                <!-- end photo -->

            </header>
